In [ ]:
## Tabulate

In [ ]:
import pandas as pd

In [ ]:
from tabulate import tabulate